<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>首页</title>
    <link rel="stylesheet" href="https://unpkg.com/mobi.css/dist/mobi.min.css">
    <script src="http://apps.bdimg.com/libs/jquery/1.6.4/jquery.min.js"></script>
</head>

<body>
    {% if request.session.user_name %}
    <div>
        <a id="search">查询余额</a>
        <td>您的余额为：</td>
        <td id="yue"></td>
        <a herf="{% url 'users:logout' %}">退出登录</a>
        <td id="user" class="pull-right">{{ request.session.user_name }}</td>
    </div>
    {% else %}
    <div>
        <p class="text-center"><a href="{% url 'users:login' %}">请登录</a></p>
    </div>
    {% endif %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th><img src="/static/images/games.JPG"></th>
                <th><img src="/static/images/name.JPG"></th>
                <th><img src="/static/images/price.JPG"></th>
                <th><img src="/static/images/purches.JPG"></th>
            </tr>
        </thead>
        <tbody>
            {% csrf_token %}
            {% for product in products %}
            <tr>
                 <th><img src="/static/images/{{ product.pic_name }}.JPG"></th>
                <th>{{ product.name }}</th>
                <th>{{ product.price }}</th>
                <th><a id="buy" data_name={{ product.name }}>购买</a>
                </th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
<script>
    $('#buy').click(function () {
        alert(request.session.user_name)
        var pro_name = $('#buy').attr('data_name')
        $.ajax({
            url: "http://127.0.0.1:8000/products/buy?product_name={{ pro_name }}",
            type: "GET",
            data: { "product_name": pro_name },
            dataType: "json",
            success: function (data) {
                $('#yue').val(data.yue)
                alert(data.message)
            },
            error: function (data) {
                alert(data.message)
            }
        })
    })
    $('#search').click(function () {
        var user_name = $('#user').val()
        $.ajax({
            url: "http://127.0.0.1:8000/users/yue?user_name={{ user_name }}",
            type: "GET",
            data: { "user_name": user_name },
            dataType: "json",
            success: function (data) {
                $('#yue').val(data.yue)
            },
            error: function (data) {
                alert(data.message)
            }
        })
    })
</script>

</html>